<h1> My Result to Question 3 is below </h1>


<h3> My Introduction: </h3>
<%= @myPerson.introduce %>


<h3> My birth year: </h3>
<%= @myPerson.birth_year %>


<h3> My nickname: </h3>
<%= @myPerson.nickname %>

